@font-face{
    font-family: Amazon Palafita;
    src: url(assets\styles\fonts\Amazon Palafita.ttf);
}

body{
    display: block;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
html{
    height: 100%;
}

.btn{
    color: white;
    letter-spacing: 9px;
    font-family: Amazon Palafita;
    align-self:center;
    padding: 10px;
    outline: none;
}

.btnanim {    
    position: absolute;
    font-size: 50px;
    width: 30%;
    height: 23%;
    align-content: center;
    transition:all .5s ease-out;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    cursor: pointer;
}


.btnanimleft:hover{
    margin-left: 10px;
    margin-top: 5px;
}

.btnanimright:hover{
    margin-right: 10px;
    margin-top: 5px;
}

.snow {
    top: 10%;
    left: 3.5%;
    background-color: rgba(255,255,255,0.1);
    border: solid 2px rgba(0,150,150,0.4);
    border-radius: 300px 55px 300px 45px/70px 305px 45px 300px;
    /*color: rgba(23, 147, 235, 0.63);*/
    box-shadow: 2px 8px 4px -12px hsla(176, 99%, 30%, 1);
    }
.snow:hover{ 
    box-shadow: 10px 20px 40px -12px hsla(176, 50%, 50%, 1);
    background-image: url(images/snowflake.png), url(images/snowflake2.png), url(images/snowflake3.png) ;
    /*animation*/ 
    -webkit-animation: snow 5s linear  infinite;
    -webkit-animation: snow 5s linear infinite;
    -moz-animation: snow 5s linear infinite;
    -ms-animation: snow 5s linear infinite;
    animation: snow 5s linear infinite;
    }


.earth {
    left: 15%;
    bottom: 10%;
    background-color: rgba(10, 125, 27,0.9);
    border: solid 2px rgba(97, 57, 2, 0.4);
    border-radius: 300px 55px 300px 45px/70px 305px 45px 300px;
    /*color: rgba(97, 57, 2, 1);*/
    box-shadow: 2px 8px 4px -12px hsla(120, 99%, 25%, 1);
}
.earth:hover {
    box-shadow: 10px 20px 40px -12px hsla(120, 70%, 50%, 1);
    background-size: contain;
    /*animation*/ 
    -webkit-animation: earth 4s ease-in-out  infinite;
    -webkit-animation: earth 4s ease-in-out infinite;
    -moz-animation: earth 4s ease-in-out infinite;
    -ms-animation: earth 4s ease-in-out infinite;
    animation: earth 4s ease-in-out infinite;
}
.air{
    top: 10%;
    right: 3.5%;
    background-color: rgba(192, 222, 250, 0.26);
    border: solid 2px rgba(141, 150, 166, 0.30);
    border-radius: 300px 55px 300px 45px/70px 305px 45px 300px;
    /*color: rgba(79, 87, 102, 1);*/
    box-shadow: 2px 8px 4px -12px hsla(156, 24%, 40%, 1);
}
.air:hover {
    box-shadow: 10px 20px 40px -12px hsla(156, 24%, 70%, 1); 
}

.water{
    bottom: 10%;
    right: 15%;    
    background-color: rgba(46, 119, 255, 0.56);
    border: solid 2px rgba(69, 132, 247, 0.52);
    border-radius: 300px 55px 300px 45px/70px 305px 45px 300px;
    box-shadow: 2px 8px 4px -12px hsla(200, 80%, 38%, 1);
}
.water:hover {
    box-shadow: 10px 20px 40px -12px hsla(200,68%, 40%, 1); 
}

@media (max-width:1200px){
    .btnanim{
    letter-spacing:0px;
    }
}
@keyframes snow{
    0% {background-position:right bottom; }
    100% {background-position: left top;}
}

@keyframes earth{
    /*0% {background-color: rgba(17, 204, 14, 0.7);}*/
    25% {background-color: rgba(0,0,0,1); box-shadow: 10px 20px 40px -12px hsla(0, 0%, 0%, 0.75);background-image: url(images/cracks.png);}
    50% {background-color: rgba(51, 31, 1,1); box-shadow: 10px 20px 40px -12px hsla(27, 81%, 12%, 0.88); background-image: url(images/cracks.png);} 
    100% {background-color: rgba(10, 125, 27,0.9); background-image: none;}
/*    100% {background-color: rgba();}*/
}