@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    src: url(http://fonts.googleapis.com/css?family=Alegreya+Sans:100);
}

html {
    overflow-x: hidden;
}

body {
    background: black;
    color: #ffffff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    height: 100%;
}

canvas {
    pointer-events: none;
    z-index: 10;
}

.content {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 0.5;
}

h2 {
    font-family: 'Bentham', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 0.2

}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
}

.youtube_frame {
    box-shadow: 3px 3px 5px #777;
}

.became_tester {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    padding: 15px;
    margin: 0;
    margin-right: 10px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: rgba(255,255,255,0.9);
    color: black;
    font-weight: 100;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
    box-shadow: 3px 3px 5px #777;
}

.became_tester:hover {
    background-color: white;
    color: blue;
}

/* ---------Footer-------------*/
.footer_social_en {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100px;
    height: 40px;
    padding-top: 0;
    margin: 0;
    bottom: 45px;
    right: 10px;
    color: #000000;
}

.footer_social_en img {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    margin: 0;
    top: 7px;
    padding: 5px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 720px) {
    div.footer_social_en {
        /*visibility:hidden;*/
        bottom: 10px;
    }

    div.content {
        top: 10px
    }

    div#frontlayer {
        display: none
    }
}

.footer_links_en {
    background: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    margin: 10px;
    padding: 5px;
    bottom: 0;
    right: 0;
    color: #000000;
    width: 295px;
    font-weight: 100;
    font-size: 12px;
}

.footer_links_en a {
    color: #000000;
}

#responsive {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    transition: height 0.5s;
}

#responsive_button {
    width: 100%;
    height: 50px;
    position: absolute;
}

#responsive_button div {
    position: absolute;
    text-align: center;
    width: 100%;
    transition: opacity 0.5s;
    opacity: 0;
}

#responsive_button #menu_open {
    opacity: 1;
}

#responsive_button div img {
    height: 50px;
}

#responsive_menu {
    width: 100%;
    height: 300px;
    padding-top: 50px;
}

#responsive_menu iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: white;
}

.shadowed_text {
    text-shadow: 1px 1px 5px #222, 0 0 3px #000;
}

.shadowed_image {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}